body{
    font-family: 'Quicksand',Arial,sans-serif;
    background-color: rgb(186, 73, 73);
    margin: 0;

}

.pomodoro-layout{
    padding: 0px 12px;
    width: 600px;
    margin: auto;
}

header{
    padding: 0px 12px;
    width: 600px;
    margin: auto;
}

.header-content{
    background-color: inherit;
    width: 100%;
    height: 60px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: white;
}

header h1{
    margin: 0;
    font-size: x-large;
}

p{
    margin: 0;
}

.pomodoro-progress{
    height: 2px;
    width: 100%;
    background: rgba(82, 4, 4, 0.171);
}

.progress{
    background: white;
    height: 2px;
    width: 0%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
}


.timer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.timer-background{
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 480px;
    height: 300px;
    margin-top: 40px;
    border-radius: 1%;
    padding-top: 10px;
}

#countdownDisplay{
    font-size:120px ;
    color: white;
    font-weight: bold;
}

.controllTime{
    display: flex;
    width: 60%;
    margin: 0 0 20px 20%;
    gap: 20px;
}

#timeBtnPause{
    display: none;
}

#timeBtnFF{
    display: none;
}

.pomodorosCounter{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: flex-end;
    color: lightgray;
}

.current-project-title-container{
    text-align: center;
    color: white;
}

.task-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
    width: 100%;
}

#title{
    width: 80%;
    border-bottom: 1px solid white;
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#generalTaskSettings{
    font-size: large;
    background: rgba(255,255,255,0.2);
    color: white;
    cursor: pointer;
    width: 30px;
    margin: 5px;
    height: fit-content;
    font-size: x-large;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

.generalTaskSettingsScreen{
    height: 100px;
    width: 200px;
    background: white;
    position: absolute;
    right: 0;
    bottom: -100px;
    border-radius: 10px;
    flex-direction: column;
}

.generalTaskSettingsScreen button{
    width: 100%;
    height: 50px;
    border: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding:10px;
    color: gray;
    cursor: pointer;
}

#container-for-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.task{
    display:flex;
    height: 70px;
    background: white;
    width: 470px;
    margin: 5px;
    padding: 0 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    cursor: pointer;
}

.task-content{
    align-items: center;
}


.task .task-mod{
    font-size: large;
    background: white;
    color: gray;
    cursor: pointer;
    width: 30px;
    margin: 5px;
    height: fit-content;
    font-size: x-large;
    cursor: pointer;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    background-color: white;
}

.task .task-mod:hover{
    background: lightgray;
}

.task p{
    color: black;
}


.active{
    border-left: 5px solid black;
    width: 465px;
}

#settings{
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    border: 0;
    margin: 10px;
    transition: 0.2s;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    padding: 0px 15px;
}

#settings:hover{
    background-color:rgba(255, 255, 255, 0.3);
}

.settings-screen{
    z-index: 100;
    display: none;
    height: fit-content;
    width: 400px;
    background: white;
    border-radius: 10px;
    margin: 50px 0;
}

.settings-screen select{
    cursor: pointer;
}

.settings-screen p {
    color: gray;
}

.exit-container{
    display: flex;
    justify-content: center;
    text-align: center;
    color: gray;
    position: relative;
    height: 50px;
    align-items: center;
    margin: 0px 0px;
    border-bottom: 1px solid lightgray;
}

#exit-settings{
    font-size: large;
    border: 0;
    background: transparent;
    position: absolute;
    right: 2%;
    top: 25%;
    color: gray;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;      
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
  }


.time-input{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px;
}

.input-title{
    width: 100%;
}

.input-title h3{
    color: gray;
}

.inputs-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-box{

}

.input-box input{
    width: 60px;
    height: 25px;
    border: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.timer-toggles{
    border-bottom: 1px solid lightgray;
}

.task-settings{
    margin: 20px;
    border-bottom: 1px solid lightgray;
}

.auto-breaks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.auto-start-pomodoros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.long-break-interval{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 30px 0;
}

.long-break-interval input{
    width: 60px;
    height: 25px;
    border: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding:10px;
}

.auto-check-tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.auto-switch-tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    
}

.sound-settings{
    margin: 20px;
    border-bottom: 1px solid lightgray;
}

.alarm-settings{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.sliders{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.alarm-slider-container{
    display: flex;
    flex-direction: column;
    width: 175px;
    align-items: flex-end;
}

#alarmSounds{
    width: 150px;
    height: 40px;
    border: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding:10px;
    color: gray;
}

.alarm-slider{
    margin:30px 0;
    -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.alarm-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
}

.alarm-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.alarm-slider-container .repeat-alarm{
    width: 40px;
    height: 25px;
    border: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding:10px;
}

.repeat-alarm-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.ticking-settings{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.ticking-slider-container{
    display: flex;
    flex-direction: column;
    width: 175px;
    align-items: flex-end;
}

#tickingSounds{
    width: 150px;
    height: 40px;
    border: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding:10px;
    color: gray;
}

.ticking-slider{
    margin:30px 0;
    -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.ticking-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
}

.ticking-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.theme-settings{
    margin: 20px;
}

.color-themes{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.bckg-colors{
    display: flex;
    height: 25px;
    width: 100px;
    gap: 0.7rem;
}


.working-color-selection{
    cursor: pointer;
    user-select: none;
    background-color: rgb(186, 73, 73);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0.4rem;
}

.shortbreak-color-selection{
    cursor: pointer;
    user-select: none;
    background-color: rgb(56, 133, 138);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0.4rem;
}

.longbreak-color-selection{
    cursor: pointer;
    user-select: none;
    background-color: rgb(57, 112, 151);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0.4rem;
}

.hour-format{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#hourFormatSelection{
    width: 150px;
    height: 40px;
    border: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding:10px;
    color: gray;
}

.dark-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;   
}

.small-window-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-window-container button{
    width: 80px;
    height: 35px;
    border: 1px solid lightgray;
    background: white;
    border-radius: 8px;
    padding:10px;
    color: gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-button-container{
    padding: 14px 20px;
    text-align: right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(239, 239, 239);
}

#inputTimeBtn{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    color: white;
    opacity: 0.9;
    font-size: 14px;
    padding: 8px 12px;
    min-width: 70px;
    background-color: rgb(34, 34, 34);
    border: 2px solid rgb(34, 34, 34);
    display: inline-block;
}

.state-buttons{
    display: flex;
}

.state-buttons button{
    cursor: pointer;
    border: none;
    color: white;
    height: 40px;
    margin: 0;
    padding: 0px 12px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0px 6px 0px hsl(358,0%,92%);
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.state-buttons button:active{
    background: rgb(116, 51, 51);
}

#timeBtnStart{
    cursor: pointer;
    border: none;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out;
}

#timeBtnPause{
    cursor: pointer;
    border: none;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out;
}

#timeBtnFF{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 0;
    font-size: 25px;
    cursor: pointer;
}

.taskForm{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

#addTaskBtn{
    box-sizing: border-box;
    width: 480px;
    height: 64px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 12px;
    border: dashed 2px rgba(255,255,255,0.4);
}

#addTaskBtn p{
    opacity: 0.8;
    font-weight: bold;
    color: white;
}

#addTaskPanel{
    display: none;
    background: white;
    height: 200px;
    width: 445px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    color: black;
    margin: 5px;
}

#addTaskPanel p{
    font-weight: 600;
}

.taskCreationInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 80%;
}

.taskCreationButtons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 20px;
}

#taskInput{
    font-size: large;
    border: 0;
    font-style: italic;
    width: 210px;
}

#amountOfPomodorosInput{
    width: 50px;
    height: 35px;
    font-size: large;
    background: lightgrey;
    border: 0;
    border-radius: 5px;
}

#createTask{
    background: black;
    color: white;
    border: 0;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.none{
    display: none;
}

/* Checkboxes */

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkmark {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s ease;
}

/* White checkmark always visible */
.checkmark::after {
  content: '✔';
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  pointer-events: none;
  opacity: 1;
}

/* Change background when checked */
.custom-checkbox input:checked ~ .checkmark {
  background-color: indianred;
}

.buttons-for-manipulation{
        padding: 14px 20px;
    text-align: right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(239, 239, 239);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.task-mod-buttons{
        -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 14px;
    padding: 8px 12px;
    min-width: 70px;
    display: inline-block;
    margin-right: 14px;
    background: none;
    border: none;
    color: rgb(136, 136, 136);
    font-weight: bold;
    box-shadow: none;
    
}

.task-mod-buttons-save{
        -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    color: white;
    opacity: 0.9;
    font-size: 14px;
    padding: 8px 12px;
    min-width: 70px;
    background-color: rgb(34, 34, 34);
    border: 2px solid rgb(34, 34, 34);
    display: inline-block;
}

.modifying-pomodoros-container{
    display: flex;
    flex-direction: row;
}

.modifying-pomodoros-container input{
    width: 40px;
}

.color-selector-container{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.color-title{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px 1rem 1rem 1rem;
    border-bottom: 1px solid #e5e5e5;
    gap: 5px;
}

.color-selector{
    display: none; 
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 100px 0 0 0;
    z-index: 101;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.color{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(186,73,73);
    width: 4rem;
    height: 4rem;
    border-radius: 0.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.estimatedPomodorosContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    width: 450px;
    margin-top: 28px;
    background-color: rgba(0,0,0,0.1);
    padding: 18px 12px;
    border-top: 1px solid rgba(255,255,255,0.8);
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
}




@media screen and (max-width:620px) {
    header{
        width: 90%;
    }

    .header-content{
        width: 100%;
    }

    .pomodoro-progress{
        width: 100%;
    }

    .overlay{
        width: 95%;
        height: 100%;
    }

    .timer-background{
        width: 95%;
    }

    .task{
        width: 100%;
    }

    #container-for-tasks{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pomodoro-layout{
    padding: 0px 12px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

    .settings-screen{
        width: 90%;
        
    }

    #title{
        width: 90%;
    }

    #addTaskBtn{
        width: 98%;
    }

    #addTaskPanel{
        width: 88%;
    }

    .estimatedPomodorosContainer{
        width: 90%;
    }
}